{% extends "base.html" %}
{% load  static %}

{% block title %}Password Reset{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}




{% block body %}

<div class="form-container">
<h3>Password Reset</h3>
  <form class="form-form" method="post">
    {% csrf_token %}


        {{ form.email.errors }}
        <label for="id_email"></label>
        <input type="email" name="email" maxlength="254" required="" id="id_email" placeholder="Email">

      <input class="submit-btn" type="submit" value="rest password">

  </form>

</div>


{% endblock %}
