{% extends 'base.html' %}

{% load static %}

{% block title %}Chris Codes Python{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'post/css/post_list.css' %}">
{% endblock %}

{% block body %}




<div id="post-container">


  <!-- IMAGE -->
  <div class="section">
    <div class="home-image ">
      <img class="post-image" style='width:100%;' {% if topic %} src="{{ topic.image.url }}" {% else %}
        src="media/topic_images/OOP.jpg" {% endif %} alt="">
    </div>
  </div>
  <!-- DESCRIPTION -->

  {% if topic %}
  <div class="topic-description">
    <strong>
      {% if topic.description %}
      <p>
        {{ topic.description }}
      </p>

      {% else %}
      <p>This section does not have a description yet.</p>
      {% endif %}
    </strong>
  </div>
  {% endif %}





  <!-- LIST OF POSTS -->
  {% for post, image in post_list %}
  <div href="{% url 'post:post_detail' slug=post.slug %}" class="post-box post-highlight">
    <a href="{% url 'post:post_detail' slug=post.slug %}">
      <div class="post-description">
        <div class="post-main-info">
          <h4>{{ post.title }}</h4>
          <p>{{ post.description|slice:":255"|striptags }}</p>
        </div>
        <div class="post-info">
          <p class="post_pub_date">{{ post.publication_date }}</p>
        </div>
      </div>
      <div class="post-img-div">
        <img class="post-image" src="{{ image.url }}" alt="">
      </div>

    </a>

    {% if user.is_staff %}
    <div style="position:relative; bottom: 0px; float:left;">
      <a style="display:inline-block;" href="{% url 'post:post_update' post_id=post.id %}">Edit</a> &nbsp; | &nbsp;
      <a style="display:inline-block; color:red;" href="{% url 'post:post_delete' post_id=post.id %}">Delete
        Permanently</a>
    </div>

    {% endif %}
  </div>

  {% endfor %}
  <!--  end of post list loop -->
</div>

{% endblock %}